.x-left {
  position: absolute;
  width: 70%;
  height: 8px;
  background-color: var(--color-gray-primary);
  transform: rotate(45deg);
  animation: discoverXLeft 0.3s forwards linear;
}

.x-right {
  position: absolute;
  width: 70%;
  height: 8px;
  background-color: var(--color-gray-primary);
  transform: rotate(-45deg);
  animation: discoverXRight 0.3s forwards linear;
}

@keyframes discoverXLeft {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%); 
  }
  50%,
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes discoverXRight {
  0%,
  50% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 500px) {
  .x-left {
    height: 7px;
  }
  .x-right {
    height: 7px;
  }
}
