.app-container {
  display: flex;
  width: var(--w-80);
  margin: 0 auto;
  /* height: 90%; */
}

.game-container {
  margin: 0 auto;
  margin-left: 5rem;
  padding-top: 1.5rem;
  width: var(--w-80);
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.btns-container {
  align-self: center;
  display: flex;
  width: var(--w-70);
  justify-content: center;
  gap: 0.5rem;
}
.play-reset-btn {
  align-self: center;
  margin-top: 5rem;
  padding: 0.5rem;
  width: var(--w-50);
  max-width: 250px;
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

@media (max-width: 1200px) {
  .app-container {
    width: var(--w-90);
  }
}

@media (max-width: 1000px) {
  .game-container {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  .game-container {
    padding-top: 0;
  }

  .game-container h1 {
    font-size: 3rem;
  }

  .btns-container {
    width: var(--w-90);
  }
  .play-reset-btn {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .game-container {
    width: var(--w-100);
    padding-top: 0rem;
  }

  .game-container h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .btns-container {
    width: var(--w-100);
  }
  .play-reset-btn {
    font-size: 1rem;
    margin-top: 3rem;
  }
}
