.game-container {
  margin: 0 auto;
  width: 70%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.game-container h1 {
  text-align: center;
  margin-bottom: 6rem;
  font-size: 4rem;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .game-container {
    width: 90%;
  }

  .board-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .game-container {
    width: 80%;
  }

  .board-container {
    width: 90%;
  }
}

.start-again-btn {
  margin-top: 5rem;
  align-self: center;
  padding: 0.5rem;
}
