.btn {
  background-color: var(--color-gray-primary);
  color: var(--background-color);
  text-align: center;
  border-radius: var(--br-5);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--background-color);
  color: var(--color-white);
  outline: 2px solid var(--color-gray-primary);
}
